<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/admin_layout}">

<title layout:fragment="title">Admin Dashboard</title>
<div layout:fragment="content" id="content">
  <div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
    <a href="index">&larr; Back to Dashboard</a>
  </div>
</div>

<!-- End of Content Wrapper -->

</html>

<!-- 404 Error Text -->
