<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/admin_layout}">

<title layout:fragment="title">Admin | Update Movie</title>
<div layout:fragment="content" align="center">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Update Movie</h1>
    <form style="width: 50%" th:action="${action}" th:object="${movieDto}" method="post" class="user" enctype="multipart/form-data">
        <hr>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" th:field="*{movieid}" placeholder="Movie ID" required="true" readonly="readonly">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" th:field="*{moviename}" placeholder="Movie Name" required="true" autofocus>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" th:field="*{director}" placeholder="Director" required="true">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" th:field="*{duration}" placeholder="Duration" required="true">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" th:field="*{genre}" placeholder="Genre" required="true">
        </div>
        <div class="form-group">
            <textarea rows="3" class="form-control form-control-user" th:field="*{description}" placeholder="Description" required="true"></textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" th:field="*{rating}" placeholder="Rating" required="true">
        </div>
        <div class="form-group">
            <input type="file" class="form-control form-control-user" th:field="*{image}" placeholder="Photo">
        </div>
        <button type="submit" class="btn-lg btn-success" value="submit">Save</button>
        <hr>
    </form>
</div>

<!-- End of Content Wrapper -->

</html>
