<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/admin_layout}">

<title layout:fragment="title">Admin | Movies</title>
<div layout:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800" align="center">Movie List</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="createMovie" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus-square"></i>
                    </span>
                <span class="text">Add New Movie</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th style="text-align: center">ID</th>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Director</th>
                        <th style="text-align: center">Duration</th>
                        <th style="text-align: center">Genre</th>
                        <th style="text-align: center">Description</th>
                        <th style="text-align: center">Rating</th>
                        <th style="text-align: center">Image</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m : ${movieList}">
                        <td style="text-align: center" th:text="${m.movieid}"></td>
                        <td th:text="${m.moviename}"></td>
                        <td th:text="${m.director}"></td>
                        <td th:text="${m.duration}"></td>
                        <td th:text="${m.genre}"></td>
                        <td th:text="${m.description}"></td>
                        <td th:text="${m.rating}"></td>
                        <td th:text="${m.image}"></td>
                        <td align="center">
                            <a th:href="@{'/movieDetails/' + ${m.movieid}}" class="btn btn-sm btn-info" title="View Details">
                                <i class="fas fa-info"></i>
                            </a>
                            <a th:href="@{'/updateMovie/' + ${m.movieid}}" class="btn btn-sm btn-info" title="Update FAQ">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{'/deleteMovie/' + ${m.movieid}}" class="btn btn-sm btn-danger" title="Delete FAQ">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>

<!-- End of Content Wrapper -->

</html>
