<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/main_layout}">
<head >
    <title layout:fragment="title">MCinema</title>
    <link rel="stylesheet" layout:href="@{/css/style.css}" href="css/style.css">
</head>
<body>

<!--BEGIN | Content -->
<div layout:fragment="content">
    <div class="container" id="about-us">
        <div class="bg-img-about">
            <img src="/images/uploads/slider-bg.jpg" alt="">
        </div>
    </div>
</div>


</body>
</html>